.about {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(77, 191, 255, 1) 100%
  );
}
.abouttitle {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 600;
}
.photo {
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgba(255, 255, 255); */
  width: 100%;
  padding: 20px;
  gap: 10vw;
}
.photocontainer {
  overflow: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 768px) {
  .photo {
    gap: 5vw;
  }
}
