:root {
  --fontsize: 12px;
}
.default {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: black !important;
  /* background-color: black !important; */
  font-weight: 800 !important;
  padding: 25px;
  margin: 15px;
  font-size: var(--fontsize) !important;
  overflow: hidden !important;
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-weight: 800 !important;
  padding: 10px;
  margin-top: 15px;
  font-size: var(--fontsize) !important;
  width: 100vw;
  height: 75vh;
  background-image: url("../public/imgs/flashpic.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
}
.homespan {
  font-size: var(--fontsize);
  width: 60vw;
  margin: 5px;
}
.homecontact {
  font-size: var(--fontsize);
  width: 40vw;
  padding: 10px;
  border-left: 3px solid black;
  margin: 5px;
}
.mailicon {
  width: 30px;
  height: 30px;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  color: black !important;
  padding: 25px;
  margin: 15px;
  border: solid black !important;
  border-radius: 10px !important;
  font-weight: 800 !important;
  padding: 20px;
  font-size: var(--fontsize);
}
.contactbox {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .default {
    flex-direction: column;
    gap: 30px;
  }
  .default > img {
    width: 60%;
    height: 60%;
  }
  .default > div {
    font-size: var(--fontsize);
  }
  .home {
    flex-direction: column;
  }
  .homecontact {
    border-left: none;
    width: 80vw;
  }
  .homespan {
    border-bottom: 3px solid black;
    width: 80vw;
  }
  .contact {
    font-size: var(--fontsize);
  }
}
