.offcanvas.offcanvas-end {
  width: fit-content !important;
}
.offcanvas-body {
  padding: 0 !important;
}
.navbackground {
  background-color: #534218;
  align-items: center;
  align-content: center;
  padding: 0 !important;
  height: 10vh;
}

.navbar-toggler {
  border: none !important;
  outline: none !important;
}
.toggle {
  background-color: rgb(255, 255, 255) !important;
  border: none;
  outline: none;
  font-weight: 700;
}
.navbar-toggler:focus {
  box-shadow: none !important;
  border: none !important;
  outline: none !important;
}
.navbar-toggler-icon {
  font-size: 20px;
}
.navlink {
  color: black !important;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 15px;
  padding: 5px !important;
}
.mobile > .nav-link:hover {
  transition: 0.3s ease-in-out;
  box-shadow: 0 5px 20px 3px rgba(168, 168, 168, 0.681);
}

@media only screen and (max-width: 970px) {
  nav {
    display: none;
  }
}
