.photobigcheckdetailbtn {
  position: relative;
  top: -35px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 15px;
  margin: 10px;
  cursor: pointer;
}
.photobigimgcontainer {
  width: 60vw;
}
.photobigimg {
  width: 100% !important;
}
.photobigclosebtn {
  display: flex;
  justify-content: center;
  background-color: red;
  color: white;
  font-weight: 700;
  padding: 10px 20px 10px 20px;
  margin: 10px;
  cursor: pointer;
  font-size: 10px;
  align-items: center;
}

@media (max-width: 768px) {
  .photobigimgcontainer {
    width: 90vw;
  }
}
