.pricetable {
  min-width: 70vw;
}
.pricetablecell {
  font-family: "Helvetica Neue" !important;
  font-size: 15px !important;
  font-weight: 700 !important;
  padding: 0 !important;
}
tbody,
td,
tfoot,
th,
thead,
tr {
  padding: 10px !important;
}

@media (max-width: 768px) {
  .pricetable {
    minwidth: 100vw;
  }
  .pricetablecell {
    font-family: "Helvetica Neue" !important;
    font-size: 10px !important;
    font-weight: 700 !important;
    padding: 0 !important;
  }
}
