.about {
  background-image: url("mainbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.abouttitle {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 600;
}
.mainphotocontainer {
  display: flex;
  justify-content: center;
}
.photocontainer {
  overflow: auto;
  width: 65%;
  display: flex;
  flex-direction: column;
}
.photo {
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 20px;
  gap: 10px;
}
.aboutimg {
  minwidth: 50%;
  maxwidth: 100%;
  /* width: 30%; */
  height: auto;
}
.poemcontainer {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  padding: 20px;
}
.poem {
  display: flex;
  margin: 10px;
  gap: 20px;
}
.poemoneline {
  display: flex;
  justify-content: flex-end;
  /* margin: 10px; */
  gap: 20px;
}

@media (max-width: 768px) {
  .about {
    background-image: url("mainbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
  }
  /* .photocontainer {
    width: 90%;
  } */
  /* .photo {
    flex-direction: column;
    gap: 5vw;
  } */
}
