.about {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 70%,
    rgba(0, 163, 255, 1) 100%
  );
  /* background-image: url("mainbg.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top center;
  background-attachment: fixed; */
}
.abouttitlewordcontainer {
  display: flex;
  justify-content: center;
}
.abouttitleword {
  width: 70vw;
}
.abouttitle {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 600;
}
.mainphotocontainer {
  display: flex;
  justify-content: center;
}
.aboutphotocontainer {
  overflow: auto;
  /* width: 65%; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutphoto {
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95vw;
  gap: 10px;
}
.aboutimg {
  /* minwidth: 50%;
  maxwidth: 100%; */
  width: 20vw;
  height: auto;
}
.poemcontainer {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  padding-top: 10px;
  border-radius: 5px;
}
.poem {
  display: flex;
  margin: 10px;
  gap: 10px;
}
.poemoneline {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.bottomphoto {
  display: flex;
  gap: 50px;
  align-items: center;
}

@media (max-width: 768px) {
  /* .about {
    background-size: 120vh;
    background-attachment: fixed;
  } */
  .abouttitleword {
    width: 100%;
  }
  .bottomphoto {
    flex-direction: column;
  }
  .aboutimg {
    width: 50vw;
  }
  .aboutphoto {
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 90vw;
    padding: 20px;
    gap: 10px;
    border-bottom: 1px solid black;
  }
  .poemcontainer {
    position: relative;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
  }
}
