.Location {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(77, 191, 255, 1) 100%
  );
}
.locationtitlewordcontainer {
  display: flex;
  justify-content: center;
}
.locationtitleword {
  width: 70vw;
}
.map {
  /* height: 80vh; */
  width: 35.4%;
}
.locationcontainer {
  /* background-image: url("Locationmainbg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70vw auto; */
  display: flex;
  justify-content: center;
}
.locations {
  display: flex;
  flex-direction: column;
}
.locationtitle {
  max-width: 20vw;
}
.location {
  display: flex;
  flex-direction: column;
  width: 35vw;
  font-size: 10px;
  font-weight: 600;
}
.locationspan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  font-size: 12px;
}

@media (max-width: 768px) {
  .locationtitleword {
    width: 100%;
  }
  .locationcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .locationtitle {
    min-width: 40vw;
  }
  .locations {
    display: flex;
    width: 70vw;
  }
  .locationspan {
    width: 70vw;
  }
  .map {
    width: 70vw;
    height: auto;
  }
}
