/* Room */
.roominfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  gap: 10px;
  font-size: 15px;
  background-color: #f0f8ff;
}
.roomphotos {
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
}
.roomphoto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  background-color: white;
  padding: 10px;
  border: 2px solid black;
  border-radius: 20px;
  width: 350px;
}
.roomphoto > img {
  width: 300px;
}
.roomphoto:hover {
  transition: 0.3s ease-in-out;
  box-shadow: 0 0 20px 3px rgba(168, 168, 168, 0.681);
}
.roomtitle {
  display: flex;
  align-items: center;
  font-weight: 600;
  justify-content: center;
  gap: 15px;
}
.price {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pricetag {
  display: flex;
  justify-content: center;
  margin: 10px;
  font-size: 18px;
  background-color: #f6f1d1;
  padding: 10px;
  border-radius: 20px;
}
.facility {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  padding: 15px;
  width: 65vw;
}

/* Roomdetail */
.roomdetail {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #fff;
  border: 2px solid #000;
  box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%),
    0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);
  padding: 32px;
  border-radius: 40px;
}
.normalprice {
  color: green;
  font-weight: 700;
}
.holidayprice {
  color: red;
  font-weight: 700;
}
.describe {
  display: flex;
  justify-content: center;
  font-weight: 700;
  background-color: #f6b26b;
  border-radius: 20px;
  padding: 10px;
}
.checkdetailbtn {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 15px;
  background-color: pink;
  padding: 10px 20px 10px 20px;
  margin: 10px;
  border-radius: 20px;
  cursor: pointer;
}
.closebtn {
  display: flex;
  justify-content: center;
  background-color: red;
  color: white;
  font-weight: 700;
  padding: 10px 20px 10px 20px;
  margin: 10px;
  border-radius: 20px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .facility {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: start;
    align-items: start;
    gap: 10px;
    padding: 30px;
    width: 95vw;
  }
  .roomphotos {
    gap: 5px;
  }
  .roomphoto {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
  }
  .pricetable {
    width: 90vw;
    border: 5px solid gray;
  }
  .pricetablecell {
    font-family: "Helvetica Neue" !important;
    font-size: 10px !important;
    font-weight: 700 !important;
    padding: 5px !important;
  }
}
